.home-component {
  margin: 30px;

  table {
    width: 100%;

    .mat-row {
      transition: .3s linear;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .mat-column-actions {
    text-align: right;
  }
}
