<div class="details-modal">
  <h1>Details of {{ this.data.user.firstName + ' ' + this.data.user.lastName }}</h1>
  <form [formGroup]="userForm">
    <app-form-input *ngFor="let item of formData" [inputData]="item" formControlName="{{item.name + 'Control'}}"></app-form-input>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="'canceled'" color="warn">CANCEL</button>
    <button mat-button [mat-dialog-close]="'ok'" color="success">OK</button>
  </mat-dialog-actions>
</div>
